<h1>Add a New Place</h1>

<form action="/places/create" method = "post">
<label for="name">Place Name:</label>
<input type="text" name = "name">
<button type = "submit"> Add Place</button>
<br>
<br>
<a href="/places/">Go Back to My Places</a>

</form>